<ion-view view-title="Apólices">
	<ion-content>
		<ion-item ng-repeat="apolice in apolices" href="#/app/apolice/{{apolice.id}}">
			<h2>Apólice {{apolice.id}}</h2>
			<small>{{apolice.assegurado.nome}}</small>
			<br/>
			<!-- Aqui o interessante é informar resumidamente e não todos os detalhes da apólice, deixar isto para quando o
			usuário selecionar a apólice -->
			<small>{{apolice.carro.marca}} {{apolice.carro.modelo}}, {{apolice.carro.cor}}, {{apolice.carro.placa}}
			</small>
		</ion-item>
	</ion-content>
</ion-view>