<ion-modal-view>
	<ion-header-bar>
 		<button class="button back-button buttons button-clear ion-chevron-left"   ng-click="showPreviousForm();"> Voltar</button>
		<button class="button button-clear button-positive" ng-click="novoSinistroModal.hide()">Cancelar</button>
		<h1 class="title">Colisão</h1>
		<button class="button button-clear button-positive button-proximo"  ng-click="showNextForm();">Próximo</button>
		<button class="button button-clear button-positive" ng-show="form == 3" ng-click="novoSinistroModal.hide()">Enviar</button>
	</ion-header-bar>
	<ion-content>
	

	</ion-content>
</ion-modal-view>
