<ion-modal-view>
	<ion-header-bar>
		<button class="button button-clear button-positive" ng-click="novoSinistroModal.hide()" ng-show="step === 0">Cancelar</button>
		<button class="button button-clear button-positive" ng-click="previous()" ng-show="step > 0">Voltar</button>
		<h1 class="title">Colisão</h1>
		<button class="button button-clear button-positive button-proximo" ng-click="next();" ng-show="step < 2">Próximo</button>
		<button class="button button-clear button-positive button-proximo" ng-click="showConfirmacaoPopup();" ng-show="step === 2">Enviar</button>
	</ion-header-bar>
	<ion-content>
		<ion-slide-box show-pager="false" active-slide="step" on-slide-changed="stepChanged($index)">
			<ion-slide>
				<ion-list>
					<label class="item item-input">
						<span class="input-label">Data:</span>
						<input name="dataOcorrencia" ng-model="sinistro.data" placeholder="20/10/2015" required="true" type="date"/>
					</label>
					<label class="item">
						<span class="input-label span-condutor">Condutor no momento da colisão</span>
						<ion-radio type="radio" name="radioForm1" ng-model="sinistro.condutor"  value="Segurado" selected>Segurado</ion-radio>
						<ion-radio type="radio" name="radioForm1" ng-model="sinistro.condutor"  value="Dependente">Dependente</ion-radio>
						<ion-radio type="radio" name="radioForm1" ng-model="sinistro.condutor"  value="Terceiro">Terceiro</ion-radio>
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Descritivo da Ocorrência:</span>
						<input name="descricaoOcorrencia" ng-model="sinistro.descritivo" placeholder="Informe o descritivo da ocorrência" type="text"></input>
					</label>
					<label class="item">
						<span class="input-label span-condutor">Você se considera responsável? </span>
						<ion-radio type="radio" ng-model="sinistro.responsavel" name="radioForm2" value="1">Sim</ion-radio>
						<ion-radio type="radio" ng-model="sinistro.responsavel" name="radioForm2" value="2">Não</ion-radio>
					</label>
				</ion-list>
			</ion-slide>
			<ion-slide>
				<ion-list>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Local da Ocorrência:</span>
						<input name="localOcorrencia" ng-model="sinistro.local" placeholder="Av Guapira, 664 - Tucuruvi, SP" type="text">
					</label>
					<span class="input-label span-condutor">Boletim de ocorrência foi registrado? </span>
					<ion-radio type="radio" name="radioAForm2" value="1" ng-click="boletim = true">Sim</ion-radio>
					<ion-radio type="radio" name="radioAForm2" value="2" ng-click="boletim = false">Não</ion-radio>
					<label class="item item-input" ng-show="boletim == true">
						<span class="input-label">Número:</span>
						<input name="boOcorrencia" ng-model="sinistro.bo" placeholder="371102013" type="text"/>
					</label>
					<span class="input-label span-condutor">Alguém se machucou? </span>
					<ion-radio type="radio" name="radioBForm2"  ng-model="sinistro.machucou" value="1" ng-click="machucou = true">Sim</ion-radio>
					<ion-radio type="radio" name="radioBForm2"  ng-model="sinistro.machucou" value="2" ng-click="machucou = false" checked>Não</ion-radio>

					<div ng-show="machucou == true">
						<span class="input-label span-condutor">Gravidade do acidente: </span>
						<ion-radio type="radio" name="radioCForm2" ng-model="sinistro.gravidade" value="1" ng-click="boletim = true">Sim</ion-radio>
						<ion-radio type="radio" name="radioCForm2" ng-model="sinistro.gravidade" value="2" ng-click="boletim = false">Não</ion-radio>
						<span class="input-label span-condutor">Internação ou resgate? </span>
						<ion-radio type="radio" name="radioDForm2" ng-model="sinistro.internacaoResgate" value="1" ng-click="boletim = true">Sim</ion-radio>
						<ion-radio type="radio" name="radioDForm2" ng-model="sinistro.internacaoResgate"  value="2" ng-click="boletim = false">Não</ion-radio>
					</div>
				</ion-list>
			</ion-slide>
			<ion-slide>
				<div class="card">
					<div class="item icon ion-plus-circled item-utilitarios" ng-click="collapseFrente(frente)">
						<h2>Frente</h2>
					</div>
					<div class="item item-body item-frente" ng-show="frente == true">
						<ion-checkbox class="checkbox-partes" ng-model="parachoqueF">Parachoque</ion-checkbox>
						<ion-checkbox class="checkbox-partes" ng-model="parabrisa">Parabrisa</ion-checkbox>
						<ion-checkbox class="checkbox-partes" ng-model="capo">Capô</ion-checkbox>
						<ion-checkbox class="checkbox-partes" ng-model="farolNeblinaEsquerdo">Farol de neblina esquerdo</ion-checkbox>
						<ion-checkbox class="checkbox-partes" ng-model="farolNeblinaDireito">Farol de neblina direito</ion-checkbox>
						<ion-checkbox class="checkbox-partes" ng-model="farolMilhaEsquerdo">Farol de milha esquerdo</ion-checkbox>
						<ion-checkbox class="checkbox-partes" ng-model="farolMilhaDireito">Farol de milha direito</ion-checkbox>
						<ion-checkbox class="checkbox-partes" ng-model="piscaAlertaEsquerdoF">Pisca-alerta esquerdo</ion-checkbox>
						<ion-checkbox class="checkbox-partes" ng-model="piscaAlertaDireitoF">Pisca-alerta direito</ion-checkbox>
					</div>
				</div>
				<div class="card">
						<div class="item icon ion-plus-circled item-utilitarios" ng-click="collapseTraseira(traseira)">
							<h2>Traseira</h2>
						</div>
						<div class="item item-body" ng-show="traseira == true">
								<ion-checkbox class="checkbox-partes" ng-model="parachoqueT">Parachoque</ion-checkbox>
								<ion-checkbox class="checkbox-partes" ng-model="vidro">Vidro</ion-checkbox>
								<ion-checkbox class="checkbox-partes" ng-model="piscaAlertaEsquerdoT">Pisca-alerta esquerdo</ion-checkbox>
								<ion-checkbox class="checkbox-partes" ng-model="piscaAlertaDireitoT">Pisca-alerta direito</ion-checkbox>
								<ion-checkbox class="checkbox-partes" ng-model="olhoGatoEsquerdo">Olho-de-gato esquerdo</ion-checkbox>
								<ion-checkbox class="checkbox-partes" ng-model="olhoGatoDireito">Olho-de-gato direito</ion-checkbox>
								<ion-checkbox class="checkbox-partes" ng-model="brakeLight">Brake Light</ion-checkbox>
								<ion-checkbox class="checkbox-partes" ng-model="Tampa">tampa</ion-checkbox>
						</div>
				</div>
				<div class="card">
							<div class="item icon ion-plus-circled item-utilitarios" ng-click="collapseLaterais(laterais)">
								<h2>Laterais</h2>
							</div>
							<div class="item item-body" ng-show="laterais == true">
									<ion-checkbox class="checkbox-partes" ng-model="retrovisorEsquerdo">Retrovisor esquerdo</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="retrovisorDireito">Retrovisor direito</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="portaTraseiraEsquerda">Porta traseira esquerda</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="portaTraseiraDireita">Porta traseira direita</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="portaDianteiraEsquerda">Porta dianteira esquerda</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="portaDianteiraDireita">Porta dianteira direita</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="lateralEsquerda">Lateral esquerda</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="lateralDireita">Lateral direita</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="retrovisorEsquerdo">Retrovisor esquerdo</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="retrovisorDireito">Retrovisor direito</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="vidroDianteiroEsquerdo">Vidro dianteiro esquerdo</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="vidroDianteiroDireito">Vidro dianteiro direito</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="vidroTraseiroEsquerdo">Vidro traseiro esquerdo</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="vidroTraseiroDireito">Vidro traseiro direito</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="paralamaEsquerdo">Paralama esquerdo</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="paralamaDireito">Paralama direito</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="rodaTraseiraEsquerda">Roda traseira esquerda</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="rodaTraseiraDireita">Roda traseira direita</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="rodaDianteiraEsquerda">Roda dianteira direita</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="rodaDianteiraDireita">Roda dianteira direita</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="oculoDianteiroEsquerdo">Óculo dianteiro esquerdo</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="oculoDianteiroDireito">Óculo dianteiro direito</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="oculoTraseiroEsquerdo">Óculo traseiro esquerdo</ion-checkbox>
									<ion-checkbox class="checkbox-partes" ng-model="oculoTraseiroDireito">Óculo traseiro direito</ion-checkbox>
							</div>
				</div>
				<div class="card">
							<div class="item icon ion-plus-circled item-utilitarios" ng-click="collapseTeto(teto)">
								<h2>Teto</h2>
							</div>
							<div class="item item-body" ng-show="teto == true">
								<ion-checkbox class="checkbox-partes" ng-model="tetoC">Teto</ion-checkbox>
								<ion-checkbox class="checkbox-partes" ng-model="tetoSolar">Teto solar</ion-checkbox>
							</div>
				</div>
	  	</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-modal-view>
