<ion-modal-view>
	<ion-header-bar>
 		<button class="button back-button buttons button-clear ion-chevron-left"   ng-click="showPreviousForm();"> Voltar</button>
		<button class="button button-clear button-positive" ng-click="novoSinistroModal.hide()">Cancelar</button>
		<h1 class="title">Colisão</h1>
		<button class="button button-clear button-positive button-proximo"  ng-click="showNextForm();">Próximo</button>
		<button class="button button-clear button-positive"  ng-click="novoSinistroModal.hide()">Enviar</button>
	</ion-header-bar>
	<ion-content>

		<div id="form1">
			<label class="item item-input">
				<span class="input-label">Data:</span>
				<input name="dataOcorrencia" placeholder="20/10/2015" required="true" type="date"/>
			</label>
			   <span class="input-label span-condutor">Condutor no momento da colisão: </span>
			    <select class="item item-input item-select select-condutor">
			      <option selected>Segurado</option>
			      <option >Dependente</option>
			      <option>Terceiro</option>
			    </select>
		   <label class="item item-input item-stacked-label">
			   <span class="input-label">Descritivo da Ocorrência:</span>
			   <input name="descricaoOcorrencia" placeholder="Informe o descritivo da ocorrência" type="text"></input>
		   </label>
		    <span class="input-label span-condutor">Você se considera responsável? </span>
		   <ion-radio type="radio" name="radioForm1" value="1">Sim</ion-radio>
		   <ion-radio type="radio" name="radioForm1" value="2">Não</ion-radio>
		</div>

		<div id="form2">
			<label class="item item-input item-stacked-label">
			   <span class="input-label">Local da Ocorrência:</span>
			   <input name="localOcorrencia" placeholder="Av Guapira, 664 - Tucuruvi, SP" type="text"></input>
		   </label>
		   <span class="input-label span-condutor">Boletim de ocorrência foi registrado? </span>
		   <ion-radio type="radio" name="radioAForm2" value="1" ng-click="boletim = true">Sim</ion-radio>
		   <ion-radio type="radio" name="radioAForm2" value="2" ng-click="boletim = false">Não</ion-radio>
			<label class="item item-input" ng-show="boletim == true">
				<span class="input-label">Número:</span>
				<input name="boOcorrencia" placeholder="371102013"  type="text"/>
			</label>
			 <span class="input-label span-condutor">Alguém se machucou? </span>
		   <ion-radio type="radio" name="radioBForm2" value="1" ng-click="machucou = true">Sim</ion-radio>
		   <ion-radio type="radio" name="radioBForm2" value="2" ng-click="machucou = false" checked>Não</ion-radio>

		   <div ng-show="machucou == true">
			    <span class="input-label span-condutor">Gravidade do acidente: </span>
			   <ion-radio type="radio" name="radioCForm2" value="1" ng-click="boletim = true">Sim</ion-radio>
			   <ion-radio type="radio" name="radioCForm2" value="2" ng-click="boletim = false">Não</ion-radio>
			    <span class="input-label span-condutor">Internação ou resgate? </span>
			   <ion-radio type="radio" name="radioDForm2" value="1" ng-click="boletim = true">Sim</ion-radio>
			   <ion-radio type="radio" name="radioDForm2" value="2" ng-click="boletim = false">Não</ion-radio>
		   </div>
		</div>

		<div id="form3" ng-show="form == 3">
			<!-- as partes do carro -->
		</div>

	</ion-content>
</ion-modal-view>
