<ion-view view-title="Locais">
	<ion-content>
		<div class="row">
			<div class="col text-center" ui-sref="app.map">
				<h1 class="icon ion-medkit"></h1>
				<h4>Hospitais</h4>
			</div>
			<div class="col text-center" ui-sref="app.map">
				<h1 class="icon ion-speedometer"></h1>
				<h4>Postos de Gasolina</h4>
			</div>
		</div>
		<div class="row">
			<div class="col text-center" ui-sref="app.map">
				<h1 class="icon ion-ionic"></h1>
				<h4>Postos policiais</h4>
			</div>
			<div class="col text-center" ui-sref="app.map">
				<h1 class="icon ion-android-car"></h1>
				<h4>Pontos de taxi</h4>
			</div>
		</div>
		<div class="row">
			<div class="col text-center" ui-sref="app.map">
				<h1 class="icon ion-hammer"></h1>
				<h4>Mecânica</h4>
			</div>
			<div class="col text-center">

			</div>
		</div>
	</ion-content>
</ion-view>