<ion-view view-title="Locais">
	<ion-content>
		<div class="row">
			<a class="col text-center no-decoration" href="#/app/map/hospital">
				<h1 class="icon ion-medkit"></h1>
				<h4>Hospitais</h4>
			</a>
			<a class="col text-center no-decoration" href="#/app/map/gas_station">
				<h1 class="icon ion-speedometer"></h1>
				<h4>Postos de Gasolina</h4>
			</a>
		</div>
		<div class="row">
			<a class="col text-center no-decoration" href="#/app/map/police">
				<h1 class="icon ion-ionic"></h1>
				<h4>Postos policiais</h4>
			</a>
			<a class="col text-center no-decoration" href="#/app/map/taxi_stand">
				<h1 class="icon ion-android-car"></h1>
				<h4>Pontos de taxi</h4>
			</a>
		</div>
		<div class="row">
			<a class="col text-center no-decoration" href="#/app/map/car_repair">
				<h1 class="icon ion-hammer"></h1>
				<h4>Mecânica</h4>
			</a>
			<div class="col text-center">

			</div>
		</div>
	</ion-content>
</ion-view>