<ion-modal-view ng-controller="LoginCtrl">
	<ion-content scroll="false">
		<video autoplay loop class="login-video">
			<!--<source src="img/car.mp4" type="video/mp4">-->
			<source src="img/car6.mp4" type="video/mp4">
			<!--<source src="img/car3.mp4" type="video/mp4">-->
		</video>
		<div class="login-wrapper">
			<img src="img/login-logo.png">
			<br>
			<br>
			<button class="button button-royal login-button item-icon-left" ng-click="doLogin()">
				<i class="icon ion-social-facebook"></i>
				Facebook
			</button>
			<br><br/>
			<button class="button button-calm login-button" ng-click="loginPorto()">Porto Seguro</button>
			<br><br>
			<span class="light" ng-click="doLogin()">Já possui uma conta? Acesse aqui</span>
		</div>
	</ion-content>
</ion-modal-view>
