<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content class="royal-bg">
			<ion-list class="list-borderless">
				<ion-item class="item-royal text-center">
					<img src="./img/logo.png">
				</ion-item>
				<ion-item menu-close ui-sref="app.sinistros" class="item-royal">
					Sinistros
				</ion-item>
				<ion-item menu-close ui-sref="app.apolices" class="item-royal">
					Apólices
				</ion-item>
				<ion-item menu-close ui-sref="app.corretores" class="item-royal">
					Corretores
				</ion-item>
				<ion-item menu-close ui-sref="app.locais" class="item-royal">
					Locais
				</ion-item>
				<ion-item menu-close ui-sref="app.preferencias" class="item-royal">
					Preferências
				</ion-item>
				<ion-item menu-close ui-sref="app.utilitarios" class="item-royal">
					Utilitários
				</ion-item>
				<ion-item menu-close ui-sref="app.telefonesUteis" class="item-royal">
					Telefones Úteis
				</ion-item>
				<ion-item menu-close ng-click="showLogin()" class="item-royal">
					Sair
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
