<ion-view view-title="Preferências">
	<ion-content>
		<ion-item class="item-preferencias" ng-repeat="preferencia in preferencias">
			<small class="small-a">Apólice: </small>
			<small class="small-b"> {{preferencia.apolice}}</small>
			<br/>
			<small class="small-a">IPVA:</small>
			<small class="small-b">  {{preferencia.IPVA}}</small>
			<br/>
			<small class="small-a">Validade: </small>
			<small class="small-b"> {{preferencia.validade}}</small>
			<br/>
			<small class="small-a">Rodízio (São Paulo): </small>
			<small class="small-b"> {{preferencia.rodizio}}</small>
			<br/>
			<ion-checkbox class="checkbox-preferencias" ng-model="isChecked" ng-true-value="true" ng-false-value="false" ng-change="gerenciarNotificacoes({{preferencia}}, isChecked)">Ativar Alarmes</ion-checkbox>
		</ion-item>
		<!-- <button class="button" ng-click="exibirNotificacao()">Exibir</button>
		<button class="button" ng-click="agendarNotificacao()">Agendar</button>
		<h1>teste</h1> -->
	</ion-content>
</ion-view>
