<ion-view view-title="Preferências">
	<ion-content>
		<ion-item ng-repeat="preferencia in preferencias">
			<small>Apólice: {{preferencia.apolice}}</small>
			<br/>
			<small>IPVA: {{preferencia.IPVA}}</small>
			<br/>
			<small>Validade: {{preferencia.validade}}</small>
			<br/>
			<small>Rodízio (São Paulo): {{preferencia.rodizio}}</small>
			<br/>
			<ion-checkbox ng-model="isChecked">Ativar Alarmes</ion-checkbox>
		</ion-item>
		<!-- <button class="button" ng-click="exibirNotificacao()">Exibir</button>
		<button class="button" ng-click="agendarNotificacao()">Agendar</button>
		<h1>teste</h1> -->
	</ion-content>
</ion-view>
