<ion-view view-title="Sinistros">
	<ion-content>
		<div class="row">
			<a class="col text-center" href="">
				<h1 class="icon ion-medkit"></h1>
				<h4>Colisão</h4>
			</a>
			<a class="col text-center" href="">
				<h1 class="icon ion-fireball"></h1>
				<h4>Incêndio</h4>
			</a>
		</div>
		<div class="row">
			<a class="col text-center" href="">
				<h1 class="icon ion-ionic"></h1>
				<h4>Roubo/Furto</h4>
			</a>
			<a class="col text-center" href="">
				<h1 class="icon ion-android-car"></h1>
				<h4>Atropelamento</h4>
			</a>
		</div>
		<div class="row">
			<a class="col text-center" href="">
				<h1 class="icon ion-ionic"></h1>
				<h4>Enchente</h4>
			</a>
			<a class="col text-center" href="">
				<h1 class="icon ion-android-car"></h1>
				<h4>Vidros/Acessórios</h4>
			</a>
		</div>
		
	</ion-content>
</ion-view>