#map {
	width: 100%;
	height: 100%;
}

#map-view .scroll {
	height: 100%;
}

.button-proximo {
	position: absolute;
	right: 1%;
}

.select-condutor {
	width: 99%;
	margin: 4px 1px 10px 3px;
}

.span-condutor {
	width: 100%;
	max-width: 100%;
	padding: 10px 0 5px 16px;
}

.modal-view {
	/*[ROD]: Dan comentei linha abaixo pois estava vazia */
	/*overflow:*/
}

.no-decoration {
	text-decoration: none;
}

.login-video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
}

.login-wrapper {
	position: absolute;
	top: 10vh;
	text-align: center;
	width: 100%;
}

.login-button {
	width: 180px;
}

.icon-corretor{
	font-size: 1.8em;
	position: absolute;
	top: 30%;
	right: 6%;
	color: #00AEEF;
	padding: auto;
}
.icon-corretor:active{
	color: #09498B;
}

.title.title-left.header-item{
	margin:0;
	text-align:center;
	left: 0 !important;
	right: 10px !important;
}

.platform-android .action-sheet .action-sheet-title{
	color: #666;
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button{
		text-align: center;
		border-color: #d1d3d6;
		color: #007AFF;
		font-weight: 350;
			background: #fff;
}

.platform-android .action-sheet .action-sheet-title{
	color: #666;
	background: #f1f2f3;
}
.checkbox-preferencias{
		margin: 8px auto 5px auto;
}
.item-preferencias .small-a{
	margin-top: 1px;
}
.item-preferencias .small-b{
	margin-top: 1px;
	color: #777;
}

.sinistro .heading {
	display: inline-flex;
}
.sinistro .text {
	margin-left: 1.2em;
}

.card-telefones{

}

.ion-ios-telephone:before{
	font-size: 1.4em;
	position: absolute;
	top: 35%;
	right: 5%;
	color: #00AEEF;
	padding: auto;
}

.ion-plus-circled:before{
	font-size: 1.8em;
	position: absolute;
	top: 25%;
	right: 5%;
	color: #00AEEF;
	padding: auto;
}
.item-pai-utilitarios{
	margin-bottom: 20px;
}
.row{
		text-align: center;
}
.col.header{
		margin: auto 2px auto 2px;
		background-color: #0089BC;
		font-size: 0.7em;
}
.col.body{
	 margin: auto 2px auto 2px;
	background-color: #fff;
	border-bottom: 1px solid #00AEEF;
}
.row.header{
		color: white;
}

.button.button-positive{
		margin-top: 5px 5px 5px 5px;
		background-color: #0089BC;
		border-color: #0089BC;
}

.button.button-positive:active{
		background-color: #00AEEF;
}
.button.button-positive.activated{
		background-color: #00AEEF;
}
.ion-thumbsup:before{
	text-align: center;
	font-size: 1.8em;
	position: absolute;
	right: 10%;
	bottom: 36%;
	color: #00AEEF;
	padding: auto;
}
.h2-alcoolGasolina{
	text-align: center;
}

.checkbox-frente{
	padding-top: 8px;
	padding-bottom: 8px;
}

.bar .title.title-left{
	text-align: center;
	font-weight: 500;
}

.icon-colisao{
		content: url("../img/colisao.png");
		width: 1.5em;
		margin: 0	auto 0 auto;
}
.icon-incendio{
		content: url("../img/incendio.png");
		width:  1.5em;
		margin: 0	auto 0 auto;
}
.icon-roubo{
		content: url("../img/roubo.png");
		width: 1.5em;
		margin: 0	auto 0 auto;
}
.icon-atropelamento{
		content: url("../img/atropelamento.png");
		width: 1.5em;
		margin: 0	auto 0 auto;
}
.icon-enchente{
		content: url("../img/enchente.png");
		width: 1.5em;
		margin: 0	auto 0 auto;
}
.icon-vidros{
		content: url("../img/vidro_quebrado.png");
		width: 1.5em;
		margin: 0	auto 0 auto;
}
.row.row-tipo-sinistro{
		margin-top: 20px;
}
.login-popup .popup-head {
	display: none;
}
.login-popup .item-input {
	padding: 6px;
}
.confirmacao-popup .popup-head{
	 padding:0;
}
.confirmacao-popup h4{
	 margin: 1px 10px 5px 10px;
	 font-weight: 500;
	 color: #666;
	 border-bottom: 1px solid #aaa;
	 padding-bottom: 5px;
}

.item-royal.text-center.menu-logo{
		padding-top: 2px;
		padding-left: 0;
		padding-bottom: 5px;
}
.partes-carro-titulo{
	margin: 10px 10px 1px 10px;
	font-weight: 500;
	color: #666;
	padding-bottom: 1px;
}
.card.card-frente{
		margin-top: 10px;
}
